<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
    <div class="container">
        <div class="frame">
            <div class="nav">
                <ul class="links">
                    <li class="signin-active"><a>Ingresar</a></li>
                </ul>
            </div>
            <div ng-app ng-init="checked = false">
                <form class="form-signin" action="" method="post" name="form">
                    <label for="username">ID usuario:</label>
                    <input class="form-styling" type="text" name="username" placeholder="" required/>
                    <label for="password">Contraseña:</label>
                    <input class="form-styling" type="text" name="password" placeholder="" required/>
                    <input type="checkbox" id="checkbox"/>
                    <label for="checkbox"><span class="ui"></span>Mantener la sesión iniciada.</label>
                    <div class="btn-animate">
                        <a type="submit" class="btn-signin">Iniciar sesión</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
